body{
font: arial;
padding:0;
margin:0;
background-color:white;
}
.box{
  display: flex;
}
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
}

header{
  padding-top: 20px;
  min-height: 100px;
}
header a{
  font-size: 24px;
}
header #branding{
  float: left;
}
header #branding a{
  color: black;
  font-weight: bold;
  font-size: 36px;
  text-decoration: none;
  text-transform: none;
}
header #branding h1{
  margin: 0;
}

nav{
  background: white;
}
nav li{
  float: left;
  display: inline;
  padding: 0 80px 0 30px;
}
nav a{
  color: black;
}
nav .highlight, nav .current a{
  font-weight: bold;
}

section{
  float: left;
}
#textblock{
  margin-top: 80px;
  margin-left: 20px;
}
#textblock .block{
  float: left;
  text-align: left;
  width: 20%;
  padding: 10px;
}

aside#sidebar{
  float: right;
}
aside#img{
  width: 10px;
}
